<mat-toolbar color="primary">
  <div class="conatiner">
    <a routerLink="" mat-icon-button class="example-icon" aria-label="Example home icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
    </a>
    <span><font size="3">Home</font></span>
   
    <a routerLink="/showpatient" mat-icon-button class="example-icon" aria-label="Example home icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_search">PersonSearch</mat-icon>
    </a>
    <span><font size="3">View Patient</font></span>

    <a routerLink="/createpatient" mat-icon-button class="example-icon" aria-label="Example home icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_box">AddBox</mat-icon>
    </a>
    <span><font size="3">Add Patient</font></span>

    <a routerLink="/showdoctor" mat-icon-button class="example-icon" aria-label="Example home icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="find_in_page">FindInPage</mat-icon>
    </a>
    <span><font size="3">View Doctor</font></span>

    <a routerLink="/createdoctor" mat-icon-button class="example-icon" aria-label="Example home icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person_add_alt">PersonAddAlt</mat-icon>
    </a>
    <span><font size="3">Add Doctor</font></span>
  </div>
</mat-toolbar>
