<div class="container">
  <h1><font size="50" color="darkred">Hospital Service</font></h1>
  <br /><br />
  <button routerLink="/createpatient" mat-raised-button color="primary">Add Patient</button><br /><br />
             
  <button routerLink="/createdoctor" mat-raised-button color="primary">Add Doctor</button><br /><br />
  <button routerLink="/showdoctor" mat-raised-button color="primary">View Doctor Information</button><br /><br />
  <button routerLink="/showpatient" mat-raised-button color="primary">View Patient Information</button><br /><br />
</div>
